/* SignInCard.css */
.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-card {
  width: 500px; /* Increased width */
  height: 500px; /* Fixed height */
  padding: 35px;
  border-radius: 8px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); /* 3D box shadow effect */
  background-color: #fff;
  text-align: center;
  margin: 5% 5% 5% 35%;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  gap: 20px; /* Increase gap between form elements */
  height: 70%; /* Match the height of the parent container */
  margin-top: 10px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forgot-password {
  color: #2e6117;
  text-decoration: none;
}

.sign-in-button {
  background-color: #2e6117;
  color: #fff;

  &:hover {
    background-color: #428125; /* Darker shade on hover */
  }
}

.signup {
  margin-left: 10px;
}
