/* Footer.css */
footer {
  background-color: #001509;
  color: #fff;
  padding: 20px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
}

.footer-left p,
.footer-right p {
  margin: 0;
}

.footer-center ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.footer-center ul li {
  margin-bottom: 10px;
}

.footer-center ul li:last-child {
  margin-bottom: 0;
}

.footer-center ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-right {
  display: flex;
  justify-content: space-evenly;
}
.lng {
  display: flex;
}

.footer-left {
  margin-left: 40px;
  align-items: center;
}
.language {
  color: #fff;
  display: flex;
  justify-content: center;
}

.lng {
  padding-left: 15px;
}
