/* SignIn.css */
.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optionally, you can set the height to center vertically */
  background-color: rgb(245, 251, 251);
}
