.navbar {
  background-color: #02170b;
  color: #fff;
  padding: 10px 0 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
}
.left-section {
  padding-left: 50px;
}
.right-section {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.language {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.lng {
  padding-left: 15px;
}
.countryLogo {
  justify-content: center;
}
.iconify {
  padding-top: 23px;
}
